body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: azure;
  font-family: Cinzel;
}
h1 {
  text-align: center;
  font-size: 4em;
}
.board-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  cursor: pointer;
  position: relative;
}
.tile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: currentColor;
}
.border-right {
  border-right: 0.2em solid black;
}
.border-bottom {
  border-bottom: 0.2em solid black;
}
.x-hover:hover::after {
  content: "X";
  opacity: 0.4;
}
.o-hover:hover::after {
  content: "O";
  opacity: 0.4;
}